body {
	font-family: sans-serif;
}

code {
	line-height: 1.5;
	border-radius: var(--border-radius-sm);
}

.component-container {
	width: 50%;
	margin: 0 auto 0.625rem;
	border-bottom: 1px solid var(--black);
	padding: 0.625rem;
}

.horizontal-space-sm {
	margin-right: 0.5rem;
}

.horizontal-space-md {
	margin-right: 1rem;
}

.img-container {
	margin-bottom: var(--element-bottom-margin);
}

.img-container img {
	width: 100%;
}

.container-50 {
	width: 50%;
}
