body {
	font-family: sans-serif;
}

code {
	line-height: 1.5;
	border-radius: 8px;
}

.component-container {
	width: 50%;
	margin: 0 auto 10px;
	border-bottom: 1px solid var(--black);
	padding: 10px;
}
