body {
	font-family: sans-serif;
}

code {
	line-height: 1.5;
	border-radius: var(--border-radius-sm);
}

a {
	text-decoration: none;
}

.component-container {
	width: 50%;
	margin: 0 auto 0.625rem;
	border-bottom: 1px solid var(--black);
	padding: 0.625rem;
}

.horizontal-space-sm {
	margin-right: 0.5rem;
}

.horizontal-space-md {
	margin-right: 1rem;
}

.img-container {
	margin-bottom: var(--element-bottom-margin);
}

.img-container img {
	width: 100%;
}

.img-container .img-rounded {
	display: inline-block;
	border-radius: 100%;
	object-fit: cover;
}

.img-container .img-rounded-sm {
	width: var(--img-round-sm);
	height: var(--img-round-sm);
}

.img-container .img-rounded-md {
	width: var(--img-round-md);
	height: var(--img-round-md);
}

.img-container .img-rounded-lg {
	width: var(--img-round-lg);
	height: var(--img-round-lg);
}

.container-50 {
	width: 50%;
}

.flex-container {
	display: flex;
	margin-bottom: var(--element-bottom-margin);
}

.flex-column {
	flex-direction: column;
}

.flex-row-gap {
	row-gap: var(--element-bottom-margin);
}

.flex-column-gap {
	column-gap: var(--element-bottom-margin);
}
