.txt,
.heading {
	line-height: 1.5;
	margin-bottom: var(--element-bottom-margin);
}

.heading-sm {
	font-size: var(--fs-sm);
}

.heading-md {
	font-size: var(--fs-md);
}

.heading-lg {
	font-size: var(--fs-lg);
}

.heading-xl {
	font-size: var(--fs-xl);
}

.small-text {
	font-size: var(--fs-xsm);
}

.gray-txt {
	color: var(--gray-txt-color);
}

.center-txt {
	text-align: center;
}
