.avatar {
	display: inline-block;
	border-radius: 100%;
	object-fit: cover;
	width: 2.5rem;
	height: 2.5rem;

	// avatar sizes
	&-sm {
		width: 2.5rem;
		height: 2.5rem;
	}
	&-md {
		width: 3.75rem;
		height: 3.75rem;
	}
	&-lg {
		width: 5rem;
		height: 5rem;
	}

	// avatar border
	&-outline {
		border: 2px solid $black;
	}
}
