.btn {
	display: inline-block;
	line-height: 2.5rem;
	font-size: 1.5rem;
	padding: 0 1.25rem;
	margin-bottom: 8px;
	min-width: 6.25rem;
	border: 1px solid transparent;
	background-color: transparent;
	border-radius: var(--border-radius-xsm);
	text-align: center;
	text-decoration: none;
}

.btn-primary {
	background-color: var(--primary-cta-bg);
	color: var(--primary-cta-txt-color);
	border-color: var(--primary-cta-txt-color);
}

.btn-secondary {
	background-color: var(--secondary-cta-bg);
	color: var(--secondary-cta-txt-color);
	border-color: var(--secondary-cta-txt-color);
}

.btn-link {
	text-decoration: underline;
}

.btn-icon {
	padding: 0 5px;
	min-width: 2.5rem;
}

.btn-shadow {
	border: 0;
	box-shadow: 0 3px 6px var(--box-shadow-color);
}
