// screen resolution variables
$mobile-min: 320px;
$mobile-max: 480px;
$tablet-min: 481px;
$tablet-max: 768px;
$desktop-sm-min: 769px;
$desktop-sm-max: 1024;
$desktop-md-min: 1025px;
$desktop-md-max: 1200px;
$desktop-xl-min: 1201px;

// base font size
$base-font-size: 16px;
