/* Colors are named with help of  https://chir.ag/projects/name-that-color */
:root {
	--black: #000;
	--white: #fff;
	--melrose: #abc2ff;
	--mirage: #20293f;
	--kangaroo: #c9ccc7;
	--carrara: #eae9e6;
	--heavy-metal: #2e2f2e;
	--alto: #d0d0d0;
	--crusoe: #024912;
	--madang: #b7efc5;
	--carnation: #f34e4e;
	--maroon-oak: #5e0c14;
	--beauty-bush: #efb5ba;
	--saddle-brown: #564000;
	--saffron: #f5c22e;
	--shuttle-gray: #58646f;
	--fun-blue: #185fa5;
	--double-colonial-white: #efdfab;
	--san-felix: #096915;
	--screaming-green: #70f34e;

	/* color variations */
	--gray-50: var(--carrara);
	--gray-100: var(--kangaroo);
	--gray-150: var(--alto);
	--gray-200: var(--shuttle-gray);
	--gray-300: var(--heavy-metal);
	--blue-100: var(--madang);
	--blue-150: var(--fun-blue);
	--blue-200: var(--melrose);
	--blue-300: var(--mirage);
	--green-50: var(--screaming-green);
	--green-100: var(--san-felix);
	--green-200: var(--crusoe);
	--pink-100: var(--beauty-bush);
	--red-100: var(--carnation);
	--red-200: var(--maroon-oak);
	--brown-100: var(--saddle-brown);
	--yellow-100: var(--double-colonial-white);
	--yellow-200: var(--saffron);

	/* generic colors */
	--box-shadow-color: var(--gray-200);

	/* ----------------------------------------------
		Component Colors
	------------------------------------------------- */

	/* alert component colors */
	--alert-primary-bg: var(--blue-200);
	--alert-primary-txt-color: var(--blue-300);
	--alert-secondary-bg: var(--gray-100);
	--alert-secondary-txt-color: var(--gray-300);
	--alert-success-bg: var(--blue-100);
	--alert-success-txt-color: var(--green-200);
	--alert-error-bg: var(--pink-100);
	--alert-error-txt-color: var(--red-200);
	--alert-warning-bg: var(--yellow-100);
	--alert-warning-txt-color: var(--brown-100);

	/* badge component colors */
	--badge-bg: var(--green-100);
	--badge-txt-color: var(--white);

	/* button component colors */
	--primary-cta-bg: var(--blue-150);
	--primary-cta-txt-color: var(--white);
	--secondary-cta-bg: var(--white);
	--secondary-cta-txt-color: var(--blue-150);

	/* text utilities colors */
	--gray-txt-color: var(--gray-200);

	/* cards component colors */
	--card-bg: var(--gray-50);
	--card-badge-bg: var(--yellow-200);
	--card-badge-txt-color: var(--white);
	--card-dismiss-color: var(--red-200);

	/* modal component colors */
	--modal-background: var(--white);
	--modal-backdrop: rgb(0 0 0 / 40%);
	--modal-internal-padding: 20px;
	--modal-close-icon-color: var(--red-200);

	/* generic variables */
	--element-bottom-margin: 8px;
	--border-radius-xsm: 4px;
	--border-radius-sm: 8px;

	/* cards component variables */
	--horizontal-gutter: 20px;
	--vertical-gutter: 20px;
	--card-internal-padding: 10px;

	/* text utilities variables */
	--fs-sm: 1.125rem;
	--fs-md: 1.5rem;
	--fs-lg: 2rem;
	--fs-xl: 2.75rem;
	--fs-xsm: 1rem;

	/* rounded image variables */
	--img-round-sm: 4.375rem;
	--img-round-md: 5.625rem;
	--img-round-lg: 7.5rem;

	/* input variables */
	--input-border-color: var(--gray-150);
	--input-focus-border-color: var(--blue-200);
	--input-err-border-color: var(--red-100);
	--input-valid-border-color: var(--green-100);
	--text-area-height: 6.25rem;
	--input-internal-padding: 0.625rem;

	/* modal variables */
	--modal-clickable-gutter: 1.25rem;
	--modal-content-gutter: 0.625rem;
}
