/* Colors are named with help of  https://chir.ag/projects/name-that-color */
:root {
	--black: #000;
	--white: #fff;
	--melrose: #abc2ff;
	--mirage: #20293f;
	--kangaroo: #c9ccc7;
	--heavy-metal: #2e2f2e;
	--crusoe: #024912;
	--madang: #b7efc5;
	--maroon-oak: #5e0c14;
	--beauty-bush: #efb5ba;
	--saddle-brown: #564000;
	--double-colonial-white: #efdfab;
	--san-felix: #096915;

	/* generic colors */
	--box-shadow-color: var(--shuttle-gray);

	/* ----------------------------------------------
		Component Colors
	------------------------------------------------- */

	/* alert component colors */
	--alert-primary-bg: var(--melrose);
	--alert-primary-txt-color: var(--mirage);
	--alert-secondary-bg: var(--kangaroo);
	--alert-secondary-txt-color: var(--heavy-metal);
	--alert-success-bg: var(--madang);
	--alert-success-txt-color: var(--crusoe);
	--alert-error-bg: var(--beauty-bush);
	--alert-error-txt-color: var(--maroon-oak);
	--alert-warning-bg: var(--double-colonial-white);
	--alert-warning-txt-color: var(--saddle-brown);

	/* badge component colors */
	--badge-bg: var(--san-felix);
	--badge-txt-color: var(--white);
}
